body {
	background-color: #66CCCC ;
}

.jumbotron {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #33CC99;
}

h4 {
	text-align: center;
	font-weight: bold;
	color: #33CC99;
}

h2{
	text-align: center;
}

